*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.strip {
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: #000;
    border-radius: 50px;
}
.s1{
    animation: sound7 1s linear infinite alternate;
}
.s2 {
    margin-left: 40px;
    animation: sound1 1s linear infinite alternate;
}

.s3 {
    margin-left: 80px;
    animation: sound2 1s linear infinite alternate;
}

.s4 {
    margin-left: 120px;
    animation: sound3 1s linear infinite alternate;
}

.s5 {
    margin-left: 160px;
    animation: sound4 1s linear infinite alternate;
}

.s6 {
    margin-left: 200px;
    animation: sound5 1s linear infinite alternate;
}

.s7 {
    margin-left: 240px;
    animation: sound6 1s linear infinite alternate;
}
@keyframes sound1 {
    0% {background-color: red; height: 200px;}
    25% {background-color: green; height: 100px;}
    50% {background-color: blue; height: 30px;}
    100% {background-color: yellow; height: 0px;}
}
@keyframes sound2 {
    0% {background-color: green; height: 250px;}
    25% {background-color: blue; height: 200px;}
    50% {background-color: red; height: 150px;}
    100% {background-color: yellow; height: 0px;}
}

@keyframes sound3 {
    0% {background-color: rgb(133, 177, 133); height: 150px;}
    25% {background-color: rgb(255, 30, 0); height: 100px;}
    50% {background-color: rgb(0, 225, 255); height: 70px;}
    100% {background-color: yellow; height: 0px;}
}

@keyframes sound4 {
    0% {background-color: rgb(0, 53, 0); height: 200px;}
    25% {background-color: rgb(255, 171, 160); height: 150px;}
    50% {background-color: rgb(179, 15, 124); height: 100px;}
    100% {background-color: rgb(255, 143, 39); height: 50px;}
}

@keyframes sound5 {
    0% {background-color: rgb(0, 0, 0); height: 100px;}
    25% {background-color: rgb(255, 255, 255); height: 200px;}
    50% {background-color: rgb(255, 0, 0); height: 150px;}
    100% {background-color: rgb(21, 255, 0); height: 0px;}
}

@keyframes sound6 {
    0% {background-color: rgb(202, 0, 0); height: 220px;}
    25% {background-color: rgb(255, 238, 0); height: 170px;}
    50% {background-color: rgb(255, 140, 64); height: 90px;}
    100% {background-color: rgb(26, 13, 85); height: 0px;}
}

@keyframes sound7 {
    0% {background-color: rgb(1, 59, 1); height: 200px;}
    25% {background-color: rgb(55, 204, 29); height: 00px;}
    50% {background-color: rgb(97, 208, 223); height: 150px;}
    100% {background-color: rgb(128, 128, 85); height: 200px;}
}